*
	padding 0
	margin 0

a
	text-decoration none
	color inherit
	&:visited
		color inherit
	&:hover
		color inherit
	&:active
		color inherit

body
	position relative
	font-family Helvetica, Sans-serif

// gist.github.com/d3vron/1080346
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

transition()
	vendor('transition', arguments)

.band-choice
	display inline-block
	button-style none
	width 33.333333%
	height 2em
	line-height 2em
	text-align center
	font-size 1em
	color white
	background-color gray
	
	&:hover
		background-color black

.carousel
	position relative
	background-color lightgray

	.mask
		pointer-events none
		z-index 2
		position absolute
		width 100%
	.mask.top
		padding-bottom .2em
		top 0
		background linear-gradient(black, rgba(black, .4))
	.mask.bottom
		padding-top .2em
		bottom 0
		background linear-gradient(rgba(black, .4), black)

	.band-container
		transition top 100ms
		position relative

.carousel-cell
	min-height 40px

.decoder
	.display
		text-align center
		font-size 20px
		font-family 'Helvetica'