*
	padding 0
	margin 0

a
	text-decoration none
	color inherit
	&:visited
		color inherit
	&:hover
		color inherit
	&:active
		color inherit

body
	position relative

/*
// Good call by d3vron:
// gist.github.com/d3vron/1080346
*/
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

transition()
	vendor('transition', arguments)

.carousel
	position relative

	.mask
		pointer-events none
		z-index 2
		position absolute
		width 100%
		background-color rgba(0, 0, 0, .5)
	.mask.top
		top 0
	.mask.bottom
		bottom 0

	.band-container
		transition top 100ms

.carousel-cell
	min-height 40px